Flask
Flask-Cors
beautifulsoup4
requests
urllib3
spacy
stanza
transformers
torch
dnspython
pytest
python-dotenv
pydantic
spacy-wordnet
flasgger
pymongo
pymupdf
pytesseract 
pillow
PyCDSL
cmd2<2
dharmamitra-sanskrit-grammar==0.1.7
indic-transliteration
pandas
sanskrit_util


